/* globals.css */
@import "tailwindcss";

:root {
  --dark-green: #001514;
  --light-greenish: #fbfffe;
}

@theme inline {
  --color-background: var(--dark-green);
  --color-foreground: var(--light-greenish);
  --font-sans: var(--font-local), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-green);
    --foreground: var(--light-greenish);
  }
}

body {
  background: var(--dark-green);
  color: var(--light-greenish);
}
